language: c
sudo: false

cache:
  directories:
    - ~/arduino_ide
    - ~/.arduino15/packages/

git:
  depth: false
  quiet: true


# Blacklist
branches:
  except:
    - gh-pages

env:
  global:
     - ARDUINO_IDE_VERSION="1.8.5"
     - PRETTYNAME="Adafruit SPIFlash library"

before_install:
   - source <(curl -SLs https://raw.githubusercontent.com/adafruit/travis-ci-arduino/master/install.sh)

install:
   - arduino --install-library "Adafruit NeoPixel"

script:
   - build_samd_platforms

# Generate and deploy documentation
after_success:
  - source <(curl -SLs  https://raw.githubusercontent.com/adafruit/travis-ci-arduino/master/library_check.sh)