name: Build

on: [pull_request, push, repository_dispatch]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        arduino-platform:
          - 'cpx_ada'
          - 'feather_m0_express'
          - 'feather_m4_express'
          - 'metro_m0'
          - 'metro_m4'
          - 'grand_central'
          - 'metroesp32s2'
          - 'nrf52840'
          - 'feather_rp2040'

    runs-on: ubuntu-latest
    steps:
    - name: Setup Python
      uses: actions/setup-python@v1
      with:
        python-version: '3.x'
    - name: Checkout code
      uses: actions/checkout@v2  
    - name: Checkout adafruit/ci-arduino
      uses: actions/checkout@v2
      with:
         repository: adafruit/ci-arduino
         path: ci

    - name: pre-install
      run: bash ci/actions_install.sh

    - name: test platforms
      run: python3 ci/build_platform.py ${{ matrix.arduino-platform }}

    - name: clang
      # skip clang for fatfs (ff) to make it easier to compare and upgrade
      run: python3 ci/run-clang-format.py -e "ci/*" -e "bin/*" -e "./examples/SdFat_format/*" -r .

    - name: doxygen
      env:
        GH_REPO_TOKEN: ${{ secrets.GH_REPO_TOKEN }}
        PRETTYNAME : "Adafruit SPIFlash Library"
      run: bash ci/doxy_gen_and_deploy.sh


    - name: Move build artifacts into place
      run: |
            mkdir build
            find -name "*.uf2" -ls
            for i in examples/*/build/*/*.uf2; do j=${i##*/}; j=${j%%*.}; mv $i build/$j-${{ matrix.arduino-platform }}.uf2; done


    - name: Upload build artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ github.event.repository.name }}.${{ github.sha }}
        path: |
            build/*.hex
            build/*.bin
            build/*.uf2